*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
    background-color: black;
}

#toaster {
  position: fixed;
  top: 20px;
  left: 20px;
  background: #333;
  color: #fff;
  padding: 10px 16px;
  border-radius: 6px;
  font-family: Arial, sans-serif;
   
}